PORT=4000
MONGO_URI=mongodb+srv://rahulbiswasdev999_db_user:UxZUFFTzGatG1ngD@cluster0.w6l2h29.mongodb.net/ai_booking_mvp
JWT_SECRET=replace_me111ffdgfdfd4323434
OPENAI_API_KEY=sk-...
CORS_ORIGIN=http://localhost:3000
